.workBlock {
    min-height: 100vh;
    background-color: #009f01;
    flex-wrap: wrap;
}

.workContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.titleWorks {
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 30px;
    font-weight: 300;
    color: #fefeff;
    text-transform: capitalize;
}

.works {
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

