.projectsBlock {
    min-height: 100vh;
    background-color: #009f01;

}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    width: 100%;
    border: 1px solid;
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}
@media  screen  and (max-width: 1129px) {
    .projects {
        justify-content: center;
    }
}

