.projectsBlock {
    min-height: 100vh;
    background-color: #009f01;
    flex-wrap: wrap;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

