.optionsBlock {
    height: 30vh;
    background-color: #009f01;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h3 {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #fefeff;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
}

.button {
    background-color: #03b7f8;
    flex-wrap: wrap;
}