@import ".././common/styles/sass/variabls";
@import ".././common/styles/sass/mixins";

.optionsBlock {
  background-color: $bgSecondColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  .optionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .button {
      display: flex;
      background-color: #03b7f8;
      flex-wrap: wrap;
      color: $textColor;
      margin: 15px 0 0 0;

    }
  }
}

