.optionsBlock {
    height: 30vh;
    background-color: #009f01;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.optionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.title {
    background-color: #ff2600;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 30px;
    font-weight: 300;
    color: #fefeff;
    text-transform: capitalize;
}

.button {
    background-color: #03b7f8;
    border: 1px solid;
    flex-wrap: wrap;
}