@import ".././common/styles/sass/variabls.scss";

.contactsBlock {
  background-color: $bgColor;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  .inputTextBlock {
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;




    padding: 0 15px;
    font-size: 12px;
    .input {
      background-color: $bgSecondColor;
      flex-wrap: wrap;
      width: 99%;
      height: 25px;
      border: 1px solid #4a4a4a;
    }

    .textarea {
      width: 99%;
      height: 110px;
      flex-wrap: wrap;
      background-color: $bgSecondColor;
      border: 1px solid #4a4a4a;
    }

  }

  .button {
    background-color: $bgSecondColor;
    flex-wrap: wrap;
    color:$textColor ;
  }
  .optionsContainer {
    flex-wrap: wrap;

  }

}









