.contactsBlock {
    background-color: #04efef;
    min-height: 60vh;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

}

.optionsContainer {
    flex-wrap: wrap;

}


.button {
    background-color: rgba(0, 255, 33, 0.63);
    border: 1px solid;
    flex-wrap: wrap;
}

.contact {
    background-color: #9503d5;
    flex-wrap: wrap;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 30px;
    font-weight: 300;
    color: #fefeff;
    text-transform: capitalize;
}

.inputTextBlock {
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #045e7a;
    border: 1px solid;

}
.input {
     background-color: #f6d9cb;
     flex-wrap: wrap;
     width: 99%;
    height: 30px;
 }

.textarea {
    width: 99%;
    height: 110px;
    flex-wrap: wrap;
}
