@import ".././common/styles/sass/variabls.scss";
@import ".././common/styles/sass/mixins";
@import ".././common/components/button/Button.module";

.contactsBlock {
  background-color: $bgColor;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  .inputTextBlock {
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    .input {
      background-color: $bgSecondColor;
      flex-wrap: wrap;
      width: 99%;
      height: 25px;
      border: 1px solid $SolidColor;
    }

    .textarea {
      width: 99%;
      height: 110px;
      flex-wrap: wrap;
      background-color: $bgSecondColor;
      border: 1px solid $SolidColor;
    }

  }

  .button[type='submit'] {
    @extend .btn;
    align-self: center;
    background-color: transparent;
    margin-top: 30px;
  }

  .optionsContainer {
    flex-wrap: wrap;

  }

}









