.project {
    background-color: #00bb35;
    width: 450px;
    display: flex;
    flex-direction: column;
}

.image {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image::before{
    position: absolute;
    content: '';
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.video {
    background-color: #fc1d1d;
    padding: 10px 20px;
}

.projectTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 0 5px;
    line-height: 1.2;
    color: #fefeff;
}

.description {
    font-family: 'Poppins', sans-serif;
    color: #fefeff;
    line-height: 1.8;
    font-weight: 400;
    font-size: 14px;
}
.projectInfo{
    padding: 25px 20px;
}