@import "../../common/styles/sass/variabls";

.skill {
  width: 250px;
  background-color: $primaryColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  border: solid 1px;
  z-index: 99;
  .icon {
    height: 60px;
    width: 60px;
    background-color: $bgSecondColor;
    z-index: 99;
  }

  .skill, h3 {
    color: $textColor;
  }

  .description {
    color: $textColor;
  }

}

