.skill {
    width: 300px;
    background-color: #cc3300;
    min-height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}

.icon {
    height: 60px;
    width: 60px;
    background-color: #045e7a;


}

.description {

}