.work {
    width: 500px;
    min-height: 500px;
    border: 1px solid;
    background-color: #03b7f8;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}

.videocontainer {

    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*align-content: center;*/

}

.video {
    background-color: #045e7a;

}

.projectName {

    background-color: #b78bc0;

}

.description {
    background-color: #f6e205;

}

.project {
    background-color: #f1f5f5;
    border: 1px solid;
    display: flex;
    flex-direction: column;

}

