@import "../../styles/sass/variabls";
@import "../../styles/sass/mixins";

.title {
  margin: 0 0 40px;
  @include text($TextFontFamily, 36px, 1.2);
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 5px;
  position: relative;
  text-align: center;

  & h3 {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    background: $primaryColor;
    width: 55px;
    height: 1px;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 50%);
  }


}


