.skillsBlock {

    height: 100vh;
    background-color: #ff0066;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}

.title {
    background-color: #ff9900;
}

