@import ".././common/styles/sass/variabls";

.skillsBlock {
  height: 100vh;
  background-color: $bgSecondColor;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    z-index: 99;
    .skills {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 30px;
      background-color: $bgColor;
    }
  }

}

