@import ".././common/styles/sass/variabls";
@import ".././common/styles/sass/mixins";

.nav {
  width: 350px;
  z-index: 99;
  @include flex(row, space-around, stretch, nowrap);
  a {
    @include text($TitleFontFamily, 16px, 1.2);
    font-weight: 400;
    cursor: pointer;
    color: $textColor;

    &:hover {
      text-decoration: none;
      color: $primaryColor;
    }
  }

  .active {
    color: $primaryColor;
  }
}