@import ".././common/styles/sass/variabls";

.nav {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  z-index: 99;
  & a {
    color: $textColor;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    &:hover{
      text-decoration: none;
      color: $primaryColor;
    }
  }
  .active{
    color: $primaryColor;
  }
}