$textColor: #fff;
$primaryColor: #02bafd;
$bgColor:#1f1f20;
$bgSecondColor:#252527;
$SolidColor:#4a4a4a;

$TitleFontFamily:'Josefin Sans', sans-serif;
$TextFontFamily:'Poppins', sans-serif, sans-serif;